<meta charset="UTF-8">
<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=cyrillic');

  style {
      display: none !important;
  }
  ._customer-service_wrap {
      font-family: 'Open Sans', sans-serif;
      width: 100%;
      max-width: 1147px;
      margin: 30px auto;
      font-weight: 300;
      line-height: 26px;
      font-size: 16px;
      color: #000000;
  }
  ._customer-service_text__center {
      max-width: 755px;
      margin: 0 auto;
  }
  ._customer-service_cont {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
  }
  ._customer-service_ttl {
      font-weight: 700;
      line-height: 26px;
      font-size: 16px;
      color: #000000;
  }
  ._customer-service_item {
      box-sizing: border-box;
      position: relative;
      max-width: 559px;
      background: rgba(0, 84, 166, 0.05);
      padding: 30px 25px 100px;
      margin-bottom: 30px;
  }
  ._customer-service_item ul {
      padding-left: 30px !important;
      margin: 5px 0 20px 0 !important;
  }
  ._customer-service_lists li {
      padding-left: 5px !important;
  }
  ._customer-service_img {
      width: 100%;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  ._customer-service_link {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 40px;
      display: block;
      text-decoration: none;
      text-align: center;
      line-height: 40px;
      min-width: 200px;
      width: 200px;
      height: 40px;
      font-size: 14px;
      background-color: #00BB99;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.33);
      color: #ffffff !important;
      text-transform: uppercase;
      font-weight: 700;
  }
  ._customer-service_link:hover {
      opacity: 0.8;
  }
  ._customer-service_advantages {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      justify-content: space-between;
  }
  ._customer-service_advantages__item {
      box-sizing: border-box;
      display: flex;
      margin-bottom: 40px;
      width: 50%;
      padding-right: 30px;
  }
  ._customer-service_advantages__item-w {
      width: 100%;
      padding-right: 0;
  }
  ._customer-service_advantages__item img {
      min-width: 68px!important;
      max-height: 68px!important;
  }
  ._customer-service_advantages__txt {
      display: grid;
      align-content: space-between;
      margin-left: 30px;
      font-weight: 300;
      padding-top: 5px;
  }
  ._customer-service_callback {
      max-width: 559px;
      background: rgba(0, 84, 166, 0.05);
      padding: 32px 27px 45px;
      box-sizing: border-box;
      margin: 0 auto;
  }
  ._customer-service_callback__links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 40px;
  }
  ._customer-service_callback__link {
      font-weight: normal;
      line-height: normal;
      font-size: 16px;
      color: #000000 !important;
      text-decoration: none;
  }
  ._customer-service_callback__mail {
      font-weight: 300;
  }
  ._customer-service_callback__link:hover {
      text-decoration: underline;
  }
  ._customer-service_btn {
      line-height: 40px;
      padding: 0;
      margin: 0;
      min-width: 180px;
      width: 180px;
      min-height: 40px;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      background-color: #00BB99;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.33);
      color: #ffffff; text-align: center;
      cursor: pointer;
      text-transform: uppercase;
  }
  ._customer-service_btn:hover {
      opacity: 0.8;
  }
  @media screen and (max-width: 1155px) {
      ._customer-service_cont {
          flex-direction: column;
          align-items: center;
      }
  }
  @media screen and (max-width: 880px) {
      ._customer-service_advantages__item {
          width: 100%;
      }
  }
  @media screen and (max-width: 480px) {
      ._customer-service_callback__links {
          flex-direction: column;
          margin-top: 0;
      }
      ._customer-service_callback__link {
          margin: 20px 0;
      }
  }
</style>

<div class="_customer-service_wrap">
    <div class="_customer-service_text _customer-service_text__center">
      Компания «Метиз-Мастер» приглашает к сотрудничеству и предлагает профессиональное выполнение производственных услуг. Компетентные сотрудники, надежное оборудование
      и владение современными технологиями выполнения работ – все это позволяет
      с гарантированным качеством и в предельно сжатые сроки оказывать услуги любого уровня сложности.
    </div>

    <div class="_customer-service_cont">
        <div class="_customer-service_item">
            <div class="_customer-service_ttl">Изготовление нестандартного крепежа</div>
            <img src="img/page_service/img-1.png" alt="" class="_customer-service_img">
            <div class="_customer-service_text">Быстро и качественно производим все виды крепежа и метизов по
                чертежам и размерам заказчика. Осуществляем индивидуальный и серийный выпуск болтов, гаек, шайб,
                шпилек, осей (М12-М64) и других изделий:
            </div>
            <ul class="_customer-service_lists">
                <li>Из разных марок стали – Ст. 09Г2С, 20Х13, 40Х, 35, 3, 20, 14Х18Н10Т, 12Х18Н10Т;</li>
                <li>Для всех сфер деятельности – торговые и монтажно-ремонтные компании, трубные и
                    машиностроительные заводы и пр.;</li>
                <li>Для крепления металлоконструкций, для оборудования металлургических компаний, для
                    машиностроения, для строительства нефтяных вышек и других работ.</li>
            </ul>
            <div class="_customer-service_text">Выполненный нами нестандартный крепеж отличается прочностью, стойкостью к коррозии и
                нагрузкам, полным соответствием ГОСТ и DIN и продолжительным сроком службы.
            </div>
            <a href="/catalog" class="_customer-service_link">Подробнее</a>
        </div>

        <div class="_customer-service_item">
            <div class="_customer-service_ttl">Ремонт насосного оборудования</div>
            <img src="img/page_service/img-2.png" alt="" class="_customer-service_img">
            <div class="_customer-service_text">Предлагаем поточный и капитальный ремонт, а также полное
                восстановление улиток и рабочих колес с любой степенью износа. В короткие сроки и с
                обоснованной экономической эффективностью проводим ремонт агрегатов:
            </div>
            <ul class="_customer-service_lists">
                <li>Для разных сфер применения – водоочистка и водоподготовка, горнодобывающие, нефтеперерабатывающие
                    и химические предприятия и другие производства использующие насосное оборудование;</li>
                <li>С любой функциональностью – для перекачки чистой и технической воды, химических и агрессивных
                    веществ, стоков, порошков и газов;</li>
                <li>С грамотным подбором технологии работ – с заменой и восстановлением элементов, с использованием
                    промышленной химии.</li>
            </ul>
            <a href="/catalog" class="_customer-service_link">Подробнее</a>
        </div>

        <div class="_customer-service_item">
            <div class="_customer-service_ttl">Восстановление валов, втулок</div>
            <img src="img/page_service/img-3.png" alt="" class="_customer-service_img">
            <div class="_customer-service_text">Оказываем услуги по восстановлению геометрии деталей, посадочных мест
                подшипников. Осуществляем вал-втулочные посадки деталей без наплавки и агрессивной обработки.
                В процессе работ:
            </div>
            <ul class="_customer-service_lists">
                <li>Оцениваем степень износа элементов;</li>
                <li>Подбираем методику выполнения работ (с использованием промышленной химии, специальных средств);</li>
                <li>Быстро выполняем восстановление втулок, валов и посадочных мест оборудования, машин из всех сфер
                    промышленности.</li>
            </ul>
            <div class="_customer-service_text">Восстановление изделий с применением инновационных технологий –
                это экономия средств и времени, гарантия качества.
            </div>
            <a href="/catalog" class="_customer-service_link">Подробнее</a>
        </div>

        <div class="_customer-service_item">
            <div class="_customer-service_ttl">Нанесение антикоррозийных покрытий</div>
            <img src="img/page_service/img-4.png" alt="" class="_customer-service_img">
            <div class="_customer-service_text">
                Быстро, качественно и доступно выполняем антикоррозионную обработку деталей, элементов, конструкций.<br>
                Успешно работаем с изделиями любого размера, формы, назначения и проводим:
            </div>
            <ul class="_customer-service_lists">
                <li>Первичное нанесение покрытия выбранного типа;</li>
                <li>Очистку локальных повреждений (коррозия, деформированное защитное покрытие);</li>
                <li>Повторное или восстановительное нанесение составов.</li>
            </ul>
            <div class="_customer-service_text">
                В процессе работ применяются разные методики, качественные составы с определенными параметрами.
                Это позволяет полностью решать проблемы заказчиков и экономить средства, время наших клиентов.
            </div>
            <a href="/catalog" class="_customer-service_link">Подробнее</a>
        </div>
    </div>

    <div class="_customer-service_ttl">Почему выбирают нас</div>
    <div class="_customer-service_advantages">
        <div class="_customer-service_advantages__item">
            <img src="img/page_service/diploma.png">
            <div class="_customer-service_advantages__txt"><span>Гарантия качества оказанных услуг и
                использованных материалов, деталей, составов.</span>
            </div>
        </div>
        <div class="_customer-service_advantages__item">
            <img src="img/page_service/shopping-bag.png">
            <div class="_customer-service_advantages__txt"><span>Доступные цены и экономическая эффективность.</span></div>
        </div>
        <div class="_customer-service_advantages__item">
            <img src="img/page_service/calendar.png">
            <div class="_customer-service_advantages__txt"><span>Короткие сроки выполнения работ (в зависимости
                от сложности и объема проекта).</span>
            </div>
        </div>
        <div class="_customer-service_advantages__item">
            <img src="img/page_service/worker.png">
            <div class="_customer-service_advantages__txt"><span>Обслуживание компетентным персоналом с опытом
                более 7 лет.</span>
            </div>
        </div>
        <div class="_customer-service_advantages__item _customer-service_advantages__item-w">
            <img src="img/page_service/target.png">
            <div class="_customer-service_advantages__txt"><span>Инновационные решения и собственные наработки
                для решения самых специфических задач заказчиков из всех промышленных, строительных, коммунальных
                и других сфер.</span>
            </div>
        </div>
    </div>

    <div class="_customer-service_callback">
        <div class="_customer-service_text">
            Чтобы получить подробную консультацию об услугах и сделать заказ, свяжитесь с нашими менеджерами.
        </div>
        <div class="_customer-service_callback__links">
            <a onclick="yaCounter37162915.reachGoal('megasite_about_tel'); return true;" href="tel:+73433731831"
               class="_customer-service_callback__link _customer-service_callback__phone">+7 (343) 373-18-31</a>
            <div onclick="yaCounter37162915.reachGoal('megasite_about_callback'); return true;" class="_customer-service_btn js-apress-order-button js-orders-callback-link"
                 data-agreements="Нажимая &quot;&lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: mobile.apress.orders.hbs.callback.mobile.button&quot;&gt;Button&lt;/span&gt;&quot;, вы даете согласие на обработку персональных данных в
        соответствии с &lt;a href=&quot;https://www.pulscen.ru/about/privacy&quot; target=&quot;_blank&quot;&gt;политикой конфиденциальности&lt;/a&gt; и
        принимаете условия &lt;a href=&quot;https://www.pulscen.ru/about/terms&quot; target=&quot;_blank&quot;&gt;пользовательского соглашения&lt;/a&gt;."
                 data-app-order-confirm="&lt;p&gt; &lt;span style=&quot;font-size:16px;&quot;&gt;Покупка товаров и отслеживание статуса заказа в мобильном приложении.&lt;/span&gt;&lt;/p&gt; &lt;div&gt; &lt;p&gt; В бесплатном приложении Пульса цен более 9 млн товаров и услуг, возможность быстро найти товар, связаться с поставщиком и оформить заказ. &lt;/p&gt; &lt;/div&gt; &lt;p&gt;  &lt;/p&gt;"
                 data-button-type="order_callback" data-company="129140" data-company-id="129140" data-company-name="Метиз-Мастер"
                 data-company-name-rest="ООО" data-company-url="http://www.xn----8sbnchf0ae2bifg.xn--p1ai/catalog"
                 data-params="{&quot;company_id&quot;:&quot;129140&quot;}" data-statistics="1" data-type="callback">
                Заказать звонок
            </div>
            <a onclick="yaCounter37162915.reachGoal('megasite_about_email'); return true;" href="mailto:mm_pc@metiz.info"
               class="_customer-service_callback__link _customer-service_callback__mail">mm_pc@metiz.info</a>
        </div>
    </div>

</div>